body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("background.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

.message-element {
    font-style: italic;
}

button {
    color: green;
    width: 150px;
    background-color: goldenrod;
    padding: 5px 0px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin: 2px 0;

}